@model omdbapp.Models.SearchModel;
@{
    ViewData["Title"] = "Search a movie in the OMDb";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="Search" asp-controller="Movie">
    <input asp-for="SearchQuery" placeholder="Enter your query"></label>
    <input type="submit" value="Search">
</form>
@if(Model.SearchResult==null)
{
    <p class="result-label">Results will go here</p>
}
else
{
    @section Scripts {
        <script language="javascript">
            var state = {
                currentPage: 1,
                searchString: "@Model.SearchQuery",
                totalFound: "@Model.Totals"
            }
        </script>
        <script src="/js/paginator.js"></script>
    }
    <p class="result-label">Result:</p>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.SearchResult.First().Poster)</th>
            <th>@Html.DisplayNameFor(model => model.SearchResult.First().Title)</th>
            <th>@Html.DisplayNameFor(model => model.SearchResult.First().Year)</th>
            <th>@Html.DisplayNameFor(model => model.SearchResult.First().imdbID)</th>
            <th>@Html.DisplayNameFor(model => model.SearchResult.First().Type)</th>
        </tr>
        <tbody class="search-result-table-body">
        @foreach(var movie in Model.SearchResult)
        {
            if (movie.Poster == "N/A") {
                movie.Poster = "/img/not-available.png";
            }
            <tr>
                <td><img class="poster-preview" src="@movie.Poster"></td>
                <td><a asp-action="Details" asp-route-imdbId="@movie.imdbID">@movie.Title</a></td>
                <td>@movie.Year</td>
                <td>@movie.imdbID</td>
                <td>@movie.Type</td>
            </tr>

        }
        </tbody>

    </table>
    <div id="paginator-output"></div>
    <ul class="pagination">
        <li class="page-item disabled"><span id="pager-previous" class="page-link">Previous</span></li>
        <li class="page-item active"><span id="pager-one" class="page-link">1</span></li>
        <li class="page-item"><span id="pager-two" class="page-link">2</span></li>
        <li class="page-item"><span id="pager-three" class="page-link">3</span></li>
        <li class="page-item"><span id="pager-next" class="page-link">Next</span></li>
    </ul>
}
